snippet dummy "Output text with style"
		puts "=========================================="
		puts $1
		puts "=========================================="
snippet case "Case Statement - Loop?"
		str = 'three'

		case str 
			when "one"  
			  puts 'Input is 1'
			when "two"  
			  puts 'Input is 2'
			else  
			  puts "Default!"
		end  
