# ========================= #
# Contents
#
#  ==FORMAT
#
# ========================= #

# ==FORMAT==
snippet moment-format-date "FORMAT: YYYY-MM-DD"
		moment(new Date()).format('YYYY-MM-DD')
snippet moment-format-time-24 "FORMAT: HH:mm:ss"
		moment(new Date()).format('HH:mm:ss')
snippet moment-format-time-12 "FORMAT: hh:mm:ss A"
		moment(new Date()).format('hh:mm:ss A')
snippet moment-format-date-time "FORMAT: date and time"
		moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
